<div class="covered container">
  <div class="container__wrapper">
    <div class="container__header">
      <h3 class="type-black">Projects</h3>
    </div>
  </div>
  <div class="projects">
    <div class="projects__details">
      <img class="projects__details--image" src="<%= image_url('ralli_iphone6.png') %>" alt="ralli" />
      <div class="projects__details--info">
        <img class="projects__logo projects__logo--ralli" src="<%= image_url('goralli_black.png') %>" alt="" />
        <h6 class="type-black">Project: Ralli Task Managment Application</h6>
        <h6 class="type-black">Role: React/Rails and Front-end Developer</h6>
        <h6 class="type-black">Website: ralli.herokuapp.com</h6>
        <h6 class="technologies-header type-black">Technologies Used:</h6>
        <h6 class="type-gray">HTML/CSS/Javascript</h6>
        <h6 class="type-gray">Ruby on Rails 5</h6>
        <h6 class="type-gray">ReactJS/Rails-React</h6>
        <h6 class="type-gray">Heroku</h6>
        <h6 class="type-gray">PostgreSQL</h6>
      </div>
    </div>
    <div class="projects__details">
      <img class="projects__details--image" src="<%= image_url('mazlo_iphone6.png') %>" alt="mazlo">
      <div class="projects__details--info">
        <img class="projects__logo projects__logo--mazlo" src="<%= image_url('mazlo.png') %>" alt="mazlo" />
        <h6 class="type-black">Project: Mazlo Application</h6>
        <h6 class="type-black">Role: Full-stack Web Developer</h6>
        <h6 class="type-black">Website: www.mazlo.me</h6>
        <h6 class="type-black">Technologies Used:</h6>
        <h6 class="type-gray">HTML/CSS/Javascript</h6>
        <h6 class="type-gray">Backbone/Marionette</h6>
        <h6 class="type-gray">Ruby on Rails 5</h6>
        <h6 class="type-gray">ActionCable</h6>
        <h6 class="type-gray">Turbolinks-iOS</h6>
        <h6 class="type-gray">PostgreSQL/Redis</h6>
        <h6 class="type-gray">Heroku</h6>
      </div>
    </div>
    <div class="projects__details">
      <img class="projects__details--image" src="<%= image_url('muzik_iphone6.png') %>" alt="muzik" />
      <div class="projects__details--info">
        <img class="projects__logo projects__logo--muzik" class="projects__details--muzik" src="<%= image_url('muzik_chat_black.png') %>" alt="muzik" />
        <h6 class="type-black">Project: Muzik Chat (Solo Project)</h6>
        <h6 class="type-black">Role: Designer and Developer</h6>
        <h6 class="type-black">Website: muzikchat.com</h6>
        <h6 class="type-black">Technologies Used:</h6>
        <h6 class="type-gray">HTML/CSS/Javascript</h6>
        <h6 class="type-gray">Ruby on Rails 5</h6>
        <h6 class="type-gray">ActionCable</h6>
        <h6 class="type-gray">Heroku</h6>
      </div>
    </div>
  </div>
</div>
