<div class="about-container">
  <div class="header-container black-overlay">
    <img src="<%= image_url('sf.jpg') %>" alt="" class="header-image">
    <div class="header-text single-line">
      <h2></h2>
    </div>
  </div>
  <div class="body-container">
    <div class="overview-section">
      <em>Everyone should take time out once in a while to recharge and revitalize their energy. The key is to have a balanced life.</em>
    </div>

    <div class="body-section">
      <h2>The <strong>Work</strong> Part</h2>
      <div class="body-text">
        <p>Being a full-stack developer, I enjoy working on all aspects of development. However working on <em>client-facing interfaces</em> and <em>implementing and interpreting analytics</em> is when I feel most in my element.</p>
        <p>I have a never ending curiosity to understand human behavior and how to deliver the <strong>highest value</strong> to our users.</p>
      </div>
      <div class="row image-container">
        <img class="col-sm-4" src="<%= image_url('at_desk_with_nibbler.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('desk_shot.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('at_desk.jpg') %>" alt="">
      </div>
    </div>

    <div class="body-section">
      <h2>The <strong>Life</strong> Part</h2>
      <div class="body-text">
        <p>When I’m not cranking out beautiful code or designing a new interface, you can find me alternating between being an <strong>adrenaline junkie</strong> or a <strong>zen master</strong>.</p>
      </div>
      <div class="row image-container">
        <img class="col-sm-4" src="<%= image_url('triathlon.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('bobsled.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('headstand.jpg') %>" alt="">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "typing_animation" %>
