<div class="open open--tinted container">
  <div class="container__text">
    <h1>Ted Whang</h1>
    <h6>UI/UX Designer | Full-Stack Web Developer</h6>
  </div>
  <i class="triangle triangle__bottom triangle__bottom--black"></i>  
</div>
<div class="covered container">
  <h2 class="container__header">About</h2>
  <div class="container__content">
    <div class="container__content-column container__content-column--center">
      <h6 class="type-black">
        Hello! My name is Ted and I’m a developer in Seattle, WA.
      </h6>
      <h6 class="type-black">
        I’m a full-stack developer with a special interested in the front-end.
      </h6>
      <h6 class="type-black">
        When I’m not jamming away on a side project, you can find me in a classroom learning more about design/development, a yoga studio, or teaching others how to code! :D
      </h6>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>  
  <i class="triangle triangle__bottom triangle__bottom--black"></i>  
</div>
<div class="covered container covered--blue">
  <h3 class="container__header">Work Experience</h3>
  <div class="container__content">
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('mazlo_light.png') %>" alt="Mazlo" class="container__image container__image--mazlo">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4 class="type-white">Full-Stack Software Engineer</h4>
        <h5 class="type-white">Mazlo</h5>
        <h5 class="type-white">August 2014 - Present | Seattle, WA</h5>
      </div>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--gray"></i>
  <i class="triangle triangle__bottom triangle__bottom--gray"></i>
</div>
<div class="open container">
  <div class="text-container text-container text-container__right">
    <h3>Projects</h3>
  </div>
  <div class="projects">
    <button class="projects__item js-show-overlay--ralli">
      <img src="<%= image_url('goralli.png') %>" alt="Ralli" class="projects__image projects__image--ralli">
    </button>
    <button class="projects__item js-show-overlay--mazlo">
      <img src="<%= image_url('mazlo_light.png') %>" alt="Mazlo" class="projects__image projects__image--mazlo">
    </button>
    <button class="projects__item js-show-overlay--muzik">
      <img src="<%= image_url('muzik_chat.png') %>" alt="Muzik Chat" class="projects__image projects__image--muzik">
    </button>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>
</div>

<div class="covered container">
  <h2 class="container__header">Education</h2>
  <div class="container__content">
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('washington_logo.png') %>" alt="Washington" class="container__image container__image--washington">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>University of Washington - Seattle</h4>
        <h5>Bachelors of Science - Psychology</h5>
        <h5>Spring 2012 | Seattle, WA</h5>
      </div>
    </div>
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('coding_dojo.png') %>" alt="Coding Dojo" class="container__image container__image--coding-dojo">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>Coding Dojo</h4>
        <h5>Web Development Bootcamp</h5>
        <h5>Spring 2014 | Bellevue, WA</h5>
      </div>
    </div>
    <div class="container__content-row">
      <div class="container__content-column container__content-column--small">
        <img src="<%= image_url('svc.png') %>" alt="School of Visual Concepts" class="container__image container__image--svc">
      </div>
      <div class="container__content-column container__content-column--large">
        <h4>School of Visual Concepts</h4>
        <h5>Graphic Design, User Experience Design</h5>
        <h5>Winter 2016 | Seattle, WA</h5>
      </div>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--gray"></i>
  <i class="triangle triangle__bottom triangle__bottom--gray"></i>
</div>

<div class="open open--tinted container">
  <h3 class="container__header">Contact</h3>
  <div class="container__content-row container__content-row--contact">
    <div class="container__content-column container__content-column--center">
      <h6>twhang.dev@gmail.com</h6>
      <h6>linkedin.com/in/tedwhang</h6>
      <h6>github.com/tywhang</h6>
    </div>
  </div>
  <i class="triangle triangle__top triangle__top--black"></i>
</div>

<div class="overlay overlay--mazlo">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__image">
      <img src="<%= image_url('iphone.png') %>" alt="">
    </div>
    <div class="overlay__text">
      <img class="overlay__logo overlay__logo--mazlo" src="<%= image_url('mazlo.png') %>" alt="">
      <div class="overlay__details">
        <h6>Project: Mazlo Application</h6>
        <h6>Role: Full-stack Web Developer</h6>
        <h6>Website: www.mazlo.me</h6>
      </div>
      <h6 class="overlay__technologies-header">Technologies Used:</h6>
      <div class="overlay__technologies">
        <h6>HTML/CSS/Javascript</h6>
        <h6>Backbone/Marionette</h6>
        <h6>Ruby on Rails 5</h6>
        <h6>ActionCable</h6>
        <h6>Turbolinks-iOS</h6>
        <h6>PostgreSQL/Redis</h6>
        <h6>Heroku</h6>
      </div>
    </div>
  </div>
</div>

<div class="overlay overlay--ralli">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__image">
      <img src="<%= image_url('iphone.png') %>" alt="">
    </div>
    <div class="overlay__text">
      <img class="overlay__logo overlay__logo--ralli" src="<%= image_url('goralli_black.png') %>" alt="">
      <div class="overlay__details">
        <h6>Project: Ralli App</h6>
        <h6>Role: Front-end Developer</h6>
        <h6>Website: ralli.herokuapp.com</h6>
      </div>
      <h6 class="overlay__technologies-header">Technologies Used:</h6>
      <div class="overlay__technologies">
        <h6>HTML/CSS/Javascript</h6>
        <h6>Ruby on Rails 5</h6>
        <h6>ReactJS/Rails-React</h6>
        <h6>Heroku</h6>
      </div>
    </div>
  </div>
</div>

<div class="overlay overlay--muzik">
  <div class="overlay__content">
    <img src="<%= image_url('close.svg') %>" alt="" class="overlay__close js-close-overlay">
    <div class="overlay__image">
      <img src="<%= image_url('iphone.png') %>" alt="">
    </div>
    <div class="overlay__text">
      <img class="overlay__logo overlay__logo--muzik" src="<%= image_url('muzik_chat_black.png') %>" alt="">
      <div class="overlay__details">
        <h6>Project: Muzik Chat (Solo Project)</h6>
        <h6>Role: Designer and Developer</h6>
        <h6>Website: muzikchat.com</h6>
      </div>
      <h6 class="overlay__technologies-header">Technologies Used:</h6>
      <div class="overlay__technologies">
        <h6>HTML/CSS/Javascript</h6>
        <h6>Ruby on Rails 5</h6>
        <h6>ActionCable</h6>
        <h6>Heroku</h6>
      </div>
    </div>
  </div>
</div>
